@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

<h2>List of roles</h2>
<table class="table table-bordered table-dark table-hover ">
     <tr><th>Role</th><th>Actions</th>
    @foreach (var role in Model)
    {
        <tr>
            <td>@role.Name</td>
            <td>
                <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
    }
</table>
<div><a class="btn btn-sm btn-success" asp-action="Create">Add role</a></div>
<div><a class="btn btn-sm btn-warning" asp-action="UserList">List of users</a></div>