@using FriendsAndTravel.Data.Entities
@model List<Categories>
@{
    ViewData["Title"] = "Categories";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<link href="~/css/CheckBox.css" rel="stylesheet" />
<h2>Categories</h2>

<form asp-action="AddCategory" asp-controller="Admin" method="post">
    <input type="text" name="title" value="" />
    <input type="submit" class="btn  btn-success"  name="submit" value="Add" />
</form>
<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <label for="checkbox @item.Id">@item.Tag</label>
            </td>
            <td>
                <form asp-controller="Admin" asp-action="Delete" asp-route-id="@item.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Delete
                    </button>
                </form>
            </td>

        </tr>
    }

</table>