@using FriendsAndTravel.Views.ProfileEdit
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Identity
@using FriendsAndTravel.Data.Entities
@inject SignInManager<User> SignInManager

    @{
        var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
    }

<ul class="nav nav-pills nav-stacked">
    <li class="@ManageNavPages.IndexNavClass(ViewContext)"><a asp-action="Index">Profile</a></li>
    <li class="@ManageNavPages.ChangePasswordNavClass(ViewContext)"><a asp-action="ChangePassword">Password</a></li>
    <li class="@ManageNavPages.ChooseCategoriesNavClass(ViewContext)"><a asp-action="ChooseCategories">Choose Categories</a></li>
    <li class="@ManageNavPages.ChangeAvatarNavClass(ViewContext)"><a asp-action="ChangeAvatar">Avatar</a></li>
</ul>

