@using Model.Models
@model ChooseCategoryModel
@{
    ViewData["Title"] = "ChooseCategories";
}

<link href="~/css/CheckBox.css" rel="stylesheet" />
<form asp-action="ChooseCategories" method="post">
    <table class="table">
        @foreach (var item in Model.Categories)
        {
            <li>
                <input name="SelectedCategories" type="checkbox" id="@item.Id" @if (Model.SelectedCategories.Contains(item.Tag)) { <text> checked</text> } value="@item.Tag">
                <label for="@item.Id">@item.Tag</label>
            </li>
        }
    </table>
    <input type="submit" name="Submit" value="Choose" />

</form>