@using Model.Models
@model ChooseCategoryModel
@{
    ViewData["Title"] = "ChooseCategories";
}

<link href="~/css/CheckBox.css" rel="stylesheet" />
@using (Html.BeginForm("ChooseCategories", "EditProfile"))
{
    <ul class="ks-cboxtags">
        @foreach (var item in Model.Categories)
        {
            <li>
                <input name="SelectedCategories" type="checkbox" id="@item.Id" @if (Model.SelectedCategories.Contains(item.Tag)) { <text> checked</text> } value="@item.Tag">
                <label for="@item.Id">@item.Tag</label>
            </li>
        }
    </ul>
    <input type="submit" name="Submit" value="Choose" />
}
