@using Model.Models
@model EventFormModel
@{
    ViewData["Title"] = "Create Your Event";
}

<link href="~/css/CheckBox.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form method="post">
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImUrl"></label>
                <input asp-for="ImUrl" class="form-control" />
                <span asp-validation-for="ImUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateStarts"></label>
                <input asp-for="DateStarts" class="form-control" />
                <span asp-validation-for="DateStarts" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateEnds"></label>
                <input asp-for="DateEnds" class="form-control" />
                <span asp-validation-for="DateEnds" class="text-danger"></span>
            </div>
            <ul class="ks-cboxtags">
                @foreach (var item in Model.Categories)
                {
                    <li>
                        <input name="SelectedCategories" type="checkbox" id="@item.Id" @if (Model.SelectedCategories.Contains(item.Tag)) { <text> checked</text> } value="@item.Tag">
                        <label for="@item.Id">@item.Tag</label>
                    </li>
                }
            </ul>
            <br />
            <button type="submit" class="btn btn-primary">Create/Update</button>
            <a href='javascript:history.go(-1)' class="btn btn-default">Cancel</a>
        </form>
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}